dashboard.json
[
    {
        "id": "18117fb3.11a3b",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "383680ff.c1ad4",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "motion",
        "topic": "hhz/125/m5stick2/motion",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "825854bb.eddf08"
            ]
        ]
    },
    {
        "id": "c9f23be5.a3c838",
        "type": "mqtt out",
        "z": "18117fb3.11a3b",
        "name": "motion_sim",
        "topic": "hhz/125/m5stick2/motion",
        "qos": "",
        "retain": "",
        "broker": "15b3b035.3209b",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "da848217.f0472",
        "type": "ui_switch",
        "z": "18117fb3.11a3b",
        "name": "motion_sensor_switch",
        "label": "Motion Sensor Simulation",
        "tooltip": "",
        "group": "26536ce7.a0ede4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "c9f23be5.a3c838"
            ]
        ]
    },
    {
        "id": "72f93994.8f0ef8",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "temperature",
        "topic": "hhz/125/m5stick1/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "c78aa12c.61c25"
            ]
        ]
    },
    {
        "id": "d184e100.e4f2c",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "humidity",
        "topic": "hhz/125/m5stick1/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "ff40eed0.92219"
            ]
        ]
    },
    {
        "id": "5759cf26.71fd4",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "airquality",
        "topic": "hhz/125/m5stick1/airquality",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "1dc16605.d3cb1a"
            ]
        ]
    },
    {
        "id": "d7d60608.e1b2b8",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "luminosity",
        "topic": "hhz/125/m5stick1/luminosity",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "736c95b4.9828bc"
            ]
        ]
    },
    {
        "id": "736c95b4.9828bc",
        "type": "ui_gauge",
        "z": "18117fb3.11a3b",
        "name": "g_bright1",
        "group": "b797115c.f567c",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Luminosity",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 500,
        "wires": []
    },
    {
        "id": "1dc16605.d3cb1a",
        "type": "ui_gauge",
        "z": "18117fb3.11a3b",
        "name": "g_air1",
        "group": "b797115c.f567c",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Quality",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "ff40eed0.92219",
        "type": "ui_gauge",
        "z": "18117fb3.11a3b",
        "name": "g_humid1",
        "group": "b797115c.f567c",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00df00",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "c78aa12c.61c25",
        "type": "ui_gauge",
        "z": "18117fb3.11a3b",
        "name": "g_temp1",
        "group": "b797115c.f567c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "aed25d75.7d3ae",
        "type": "mqtt out",
        "z": "18117fb3.11a3b",
        "name": "temperature_sim",
        "topic": "hhz/125/m5stick1/temperature",
        "qos": "",
        "retain": "",
        "broker": "15b3b035.3209b",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "1975982c.44e588",
        "type": "ui_slider",
        "z": "18117fb3.11a3b",
        "name": "Temperature Sensor Simulation Slider",
        "label": "Temperature",
        "tooltip": "",
        "group": "26536ce7.a0ede4",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "15",
        "max": "40",
        "step": 1,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "aed25d75.7d3ae"
            ]
        ]
    },
    {
        "id": "844f439b.dc3de",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "motion",
        "topic": "hhz/121/m5stick2/motion",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "67c9b5dd.9050bc"
            ]
        ]
    },
    {
        "id": "a939bb7c.086e98",
        "type": "mqtt out",
        "z": "18117fb3.11a3b",
        "name": "motion_sim",
        "topic": "hhz/121/m5stick2/motion",
        "qos": "",
        "retain": "",
        "broker": "15b3b035.3209b",
        "x": 550,
        "y": 660,
        "wires": []
    },
    {
        "id": "c34397dc.a7afb8",
        "type": "ui_switch",
        "z": "18117fb3.11a3b",
        "name": "motion_sensor_switch",
        "label": "Motion Sensor Simulation",
        "tooltip": "",
        "group": "26536ce7.a0ede4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 660,
        "wires": [
            [
                "a939bb7c.086e98"
            ]
        ]
    },
    {
        "id": "42782c50.c1f3c4",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "temperature",
        "topic": "hhz/121/m5stick1/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "84ee3ac3.658698"
            ]
        ]
    },
    {
        "id": "321bf97e.4627a6",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "humidity",
        "topic": "hhz/121/m5stick1/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "69908bb9.a24704"
            ]
        ]
    },
    {
        "id": "b82ef709.b8f4b8",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "airquality",
        "topic": "hhz/121/m5stick1/airquality",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 120,
        "y": 1020,
        "wires": [
            [
                "14de57e9.a337f8"
            ]
        ]
    },
    {
        "id": "7a7e82b6.53308c",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "luminosity",
        "topic": "hhz/121/m5stick1/luminosity",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "3c8f9954.922716"
            ]
        ]
    },
    {
        "id": "3c8f9954.922716",
        "type": "ui_gauge",
        "z": "18117fb3.11a3b",
        "name": "g_bright1",
        "group": "32acd36c.8d87bc",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Luminosity",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 1080,
        "wires": []
    },
    {
        "id": "14de57e9.a337f8",
        "type": "ui_gauge",
        "z": "18117fb3.11a3b",
        "name": "g_air1",
        "group": "32acd36c.8d87bc",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Quality",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 1020,
        "wires": []
    },
    {
        "id": "84ee3ac3.658698",
        "type": "ui_gauge",
        "z": "18117fb3.11a3b",
        "name": "g_temp1",
        "group": "32acd36c.8d87bc",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 900,
        "wires": []
    },
    {
        "id": "dc328cd1.6aa32",
        "type": "mqtt out",
        "z": "18117fb3.11a3b",
        "name": "temperature_sim",
        "topic": "hhz/121/m5stick1/temperature",
        "qos": "",
        "retain": "",
        "broker": "15b3b035.3209b",
        "x": 570,
        "y": 720,
        "wires": []
    },
    {
        "id": "86c076d5.9354b8",
        "type": "ui_slider",
        "z": "18117fb3.11a3b",
        "name": "Temperature Sensor Simulation Slider",
        "label": "Temperature",
        "tooltip": "",
        "group": "26536ce7.a0ede4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "15",
        "max": "40",
        "step": 1,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "dc328cd1.6aa32"
            ]
        ]
    },
    {
        "id": "825854bb.eddf08",
        "type": "ui_template",
        "z": "18117fb3.11a3b",
        "group": "b797115c.f567c",
        "name": "motion_detected",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n  <p>Motion detected</p>\n  <font color=\"{{(msg.payload === 'true') ? 'green' : 'red'}}\">\n    {{msg.payload}}\n  </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 380,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "67c9b5dd.9050bc",
        "type": "ui_template",
        "z": "18117fb3.11a3b",
        "group": "32acd36c.8d87bc",
        "name": "motion_detected",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n  <p>Motion detected</p>\n  <font color=\"{{(msg.payload === 'true') ? 'green' : 'red'}}\">\n    {{msg.payload}}\n  </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 380,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "e3e2d16d.3a1e7",
        "type": "comment",
        "z": "18117fb3.11a3b",
        "name": "Raum 125",
        "info": "",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "ab72a1e7.adf9c",
        "type": "comment",
        "z": "18117fb3.11a3b",
        "name": "Raum 121",
        "info": "",
        "x": 120,
        "y": 620,
        "wires": []
    },
    {
        "id": "c12eda1e.e3aaa8",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "Connected Clients",
        "topic": "$SYS/broker/clients/connected",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "da091d3d.56e2e"
            ]
        ]
    },
    {
        "id": "52e70224.23c20c",
        "type": "comment",
        "z": "18117fb3.11a3b",
        "name": "Broker Status",
        "info": "",
        "x": 130,
        "y": 1200,
        "wires": []
    },
    {
        "id": "da091d3d.56e2e",
        "type": "ui_text",
        "z": "18117fb3.11a3b",
        "group": "b670899b.14e118",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Connected Clients",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 1240,
        "wires": []
    },
    {
        "id": "6fc21e09.c20a6",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "Disconnected Clients",
        "topic": "$SYS/broker/clients/disconnected",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 160,
        "y": 1300,
        "wires": [
            [
                "2688925.8e2336e"
            ]
        ]
    },
    {
        "id": "2688925.8e2336e",
        "type": "ui_text",
        "z": "18117fb3.11a3b",
        "group": "b670899b.14e118",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Disconnected Clients",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 400,
        "y": 1300,
        "wires": []
    },
    {
        "id": "e49186a5.3826c8",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "Subscriptions",
        "topic": "$SYS/broker/subscriptions/count",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 130,
        "y": 1420,
        "wires": [
            [
                "c2422079.503cb"
            ]
        ]
    },
    {
        "id": "c2422079.503cb",
        "type": "ui_text",
        "z": "18117fb3.11a3b",
        "group": "b670899b.14e118",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Subscriptions",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 380,
        "y": 1420,
        "wires": []
    },
    {
        "id": "ebbef39a.eecd4",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "Uptime",
        "topic": "$SYS/broker/uptime",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "d3c929f4.981478"
            ]
        ]
    },
    {
        "id": "d3c929f4.981478",
        "type": "ui_text",
        "z": "18117fb3.11a3b",
        "group": "b670899b.14e118",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 360,
        "y": 1480,
        "wires": []
    },
    {
        "id": "c5bc93fb.d0eea",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "Maximum Clients",
        "topic": "$SYS/broker/clients/maximum",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 140,
        "y": 1360,
        "wires": [
            [
                "863f5921.0f90e8"
            ]
        ]
    },
    {
        "id": "863f5921.0f90e8",
        "type": "ui_text",
        "z": "18117fb3.11a3b",
        "group": "b670899b.14e118",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Maximum Clients",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 1360,
        "wires": []
    },
    {
        "id": "1313ff64.99bc01",
        "type": "inject",
        "z": "18117fb3.11a3b",
        "name": "",
        "topic": "",
        "payload": "125",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 290,
        "y": 20,
        "wires": [
            [
                "f03cceca.0ea0a"
            ]
        ]
    },
    {
        "id": "f03cceca.0ea0a",
        "type": "ui_text",
        "z": "18117fb3.11a3b",
        "group": "26536ce7.a0ede4",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "125",
        "label": "Raum",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 530,
        "y": 20,
        "wires": []
    },
    {
        "id": "64026998.aeb488",
        "type": "inject",
        "z": "18117fb3.11a3b",
        "name": "",
        "topic": "",
        "payload": "121",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 290,
        "y": 620,
        "wires": [
            [
                "231b1177.874bbe"
            ]
        ]
    },
    {
        "id": "231b1177.874bbe",
        "type": "ui_text",
        "z": "18117fb3.11a3b",
        "group": "26536ce7.a0ede4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "121",
        "label": "Raum",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "4595be01.3807a",
        "type": "mqtt out",
        "z": "18117fb3.11a3b",
        "name": "humidity_sim",
        "topic": "hhz/121/m5stick1/humidity",
        "qos": "",
        "retain": "",
        "broker": "15b3b035.3209b",
        "x": 550,
        "y": 780,
        "wires": []
    },
    {
        "id": "3dc8f7d3.1b9ca8",
        "type": "ui_slider",
        "z": "18117fb3.11a3b",
        "name": "Humidity Sensor Simulation Slider",
        "label": "Humidity",
        "tooltip": "",
        "group": "26536ce7.a0ede4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "0",
        "max": "100",
        "step": 1,
        "x": 200,
        "y": 780,
        "wires": [
            [
                "4595be01.3807a"
            ]
        ]
    },
    {
        "id": "326b8b7e.62adf4",
        "type": "ui_slider",
        "z": "18117fb3.11a3b",
        "name": "Humidity Sensor Simulation Slider",
        "label": "Humidity",
        "tooltip": "",
        "group": "26536ce7.a0ede4",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "0",
        "max": "1100",
        "step": 1,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "4a8d60a6.12159"
            ]
        ]
    },
    {
        "id": "4a8d60a6.12159",
        "type": "mqtt out",
        "z": "18117fb3.11a3b",
        "name": "humidity_sim",
        "topic": "hhz/125/m5stick1/humidity",
        "qos": "",
        "retain": "",
        "broker": "15b3b035.3209b",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "1023dd42.370a13",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "pressure",
        "topic": "hhz/125/m5stick1/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "e0df5ad6.762088"
            ]
        ]
    },
    {
        "id": "40fb77f.9d95688",
        "type": "mqtt in",
        "z": "18117fb3.11a3b",
        "name": "pressure",
        "topic": "hhz/121/m5stick1/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "15b3b035.3209b",
        "x": 120,
        "y": 1140,
        "wires": [
            [
                "b7445ebd.ccc87"
            ]
        ]
    },
    {
        "id": "b7445ebd.ccc87",
        "type": "ui_text",
        "z": "18117fb3.11a3b",
        "group": "32acd36c.8d87bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "g_press1",
        "label": "Barometric Pressure",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "x": 580,
        "y": 1140,
        "wires": []
    },
    {
        "id": "e0df5ad6.762088",
        "type": "ui_text",
        "z": "18117fb3.11a3b",
        "group": "b797115c.f567c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "g_press1",
        "label": "Barometric Pressure",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "69908bb9.a24704",
        "type": "ui_gauge",
        "z": "18117fb3.11a3b",
        "name": "g_humid1",
        "group": "32acd36c.8d87bc",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00df00",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 580,
        "y": 960,
        "wires": []
    },
    {
        "id": "15b3b035.3209b",
        "type": "mqtt-broker",
        "z": "",
        "name": "hhzpi-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "26536ce7.a0ede4",
        "type": "ui_group",
        "z": "",
        "name": "Simulation",
        "tab": "f894a681.0c5aa8",
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "b797115c.f567c",
        "type": "ui_group",
        "z": "",
        "name": "Raum 125",
        "tab": "f894a681.0c5aa8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "32acd36c.8d87bc",
        "type": "ui_group",
        "z": "",
        "name": "Raum 121",
        "tab": "f894a681.0c5aa8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "b670899b.14e118",
        "type": "ui_group",
        "z": "",
        "name": "Broker Status",
        "tab": "f894a681.0c5aa8",
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "f894a681.0c5aa8",
        "type": "ui_tab",
        "z": "",
        "name": "Digital HHZ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
