dashboard.json
[
    {
        "id": "b40fffe1.8cc7c",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7a1d9e53.5c1cd",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "motion",
        "topic": "hhz/125/m5stick2/motion",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "d7cfefb7.9263c"
            ]
        ]
    },
    {
        "id": "1e09001a.d5e3e",
        "type": "mqtt out",
        "z": "b40fffe1.8cc7c",
        "name": "motion_sim",
        "topic": "hhz/125/m5stick2/motion",
        "qos": "",
        "retain": "",
        "broker": "aca6b452.da37f8",
        "x": 550,
        "y": 80,
        "wires": []
    },
    {
        "id": "3d6276b3.b0536a",
        "type": "ui_switch",
        "z": "b40fffe1.8cc7c",
        "name": "motion_sensor_switch",
        "label": "Motion Sensor Simulation",
        "tooltip": "",
        "group": "6d29a6eb.949898",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "1e09001a.d5e3e"
            ]
        ]
    },
    {
        "id": "bdaa813d.c621d",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "temperature",
        "topic": "hhz/125/m5stick1/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "f6faa809.7f25c8"
            ]
        ]
    },
    {
        "id": "96ed2a2c.b44ea8",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "humidity",
        "topic": "hhz/125/m5stick1/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "14e6d1e0.aee12e"
            ]
        ]
    },
    {
        "id": "d5fac5fd.a4fc08",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "airquality",
        "topic": "hhz/125/m5stick1/airquality",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "e6a710c9.0f9e5"
            ]
        ]
    },
    {
        "id": "9f7c2bb9.384f78",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "luminosity",
        "topic": "hhz/125/m5stick1/luminosity",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "1da058af.2f86b7"
            ]
        ]
    },
    {
        "id": "1da058af.2f86b7",
        "type": "ui_gauge",
        "z": "b40fffe1.8cc7c",
        "name": "g_bright1",
        "group": "d2e919a.36995e8",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Luminosity",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 500,
        "wires": []
    },
    {
        "id": "e6a710c9.0f9e5",
        "type": "ui_gauge",
        "z": "b40fffe1.8cc7c",
        "name": "g_air1",
        "group": "d2e919a.36995e8",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Quality",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "14e6d1e0.aee12e",
        "type": "ui_gauge",
        "z": "b40fffe1.8cc7c",
        "name": "g_humid1",
        "group": "d2e919a.36995e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00df00",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "f6faa809.7f25c8",
        "type": "ui_gauge",
        "z": "b40fffe1.8cc7c",
        "name": "g_temp1",
        "group": "d2e919a.36995e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "ad9c109f.5294e",
        "type": "mqtt out",
        "z": "b40fffe1.8cc7c",
        "name": "temperature_sim",
        "topic": "hhz/125/m5stick1/temperature",
        "qos": "",
        "retain": "",
        "broker": "aca6b452.da37f8",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "3e1d9ccb.b7f5e4",
        "type": "ui_slider",
        "z": "b40fffe1.8cc7c",
        "name": "Temperature Sensor Simulation Slider",
        "label": "Temperature",
        "tooltip": "",
        "group": "6d29a6eb.949898",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "15",
        "max": "40",
        "step": 1,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "ad9c109f.5294e"
            ]
        ]
    },
    {
        "id": "1f47011a.6e41ff",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "motion",
        "topic": "hhz/121/m5stick2/motion",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "f3b32b79.f11538"
            ]
        ]
    },
    {
        "id": "12713e67.44f4f2",
        "type": "mqtt out",
        "z": "b40fffe1.8cc7c",
        "name": "motion_sim",
        "topic": "hhz/121/m5stick2/motion",
        "qos": "",
        "retain": "",
        "broker": "aca6b452.da37f8",
        "x": 550,
        "y": 660,
        "wires": []
    },
    {
        "id": "de6691a6.c2e9f",
        "type": "ui_switch",
        "z": "b40fffe1.8cc7c",
        "name": "motion_sensor_switch",
        "label": "Motion Sensor Simulation",
        "tooltip": "",
        "group": "6d29a6eb.949898",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 660,
        "wires": [
            [
                "12713e67.44f4f2"
            ]
        ]
    },
    {
        "id": "15f5bfb4.aef6d",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "temperature",
        "topic": "hhz/121/m5stick1/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "b9f3f488.38b308"
            ]
        ]
    },
    {
        "id": "ef0c1449.4fb308",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "humidity",
        "topic": "hhz/121/m5stick1/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "ef2fe0b6.cae57"
            ]
        ]
    },
    {
        "id": "b52412a0.06643",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "airquality",
        "topic": "hhz/121/m5stick1/airquality",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 120,
        "y": 1020,
        "wires": [
            [
                "a1d9ceb9.4f005"
            ]
        ]
    },
    {
        "id": "a672c9f9.0f5158",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "luminosity",
        "topic": "hhz/121/m5stick1/luminosity",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "5bd31491.afb9cc"
            ]
        ]
    },
    {
        "id": "5bd31491.afb9cc",
        "type": "ui_gauge",
        "z": "b40fffe1.8cc7c",
        "name": "g_bright1",
        "group": "fc280b38.61f088",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Luminosity",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a1d9ceb9.4f005",
        "type": "ui_gauge",
        "z": "b40fffe1.8cc7c",
        "name": "g_air1",
        "group": "fc280b38.61f088",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Quality",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b9f3f488.38b308",
        "type": "ui_gauge",
        "z": "b40fffe1.8cc7c",
        "name": "g_temp1",
        "group": "fc280b38.61f088",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 900,
        "wires": []
    },
    {
        "id": "94f4771a.278db8",
        "type": "mqtt out",
        "z": "b40fffe1.8cc7c",
        "name": "temperature_sim",
        "topic": "hhz/121/m5stick1/temperature",
        "qos": "",
        "retain": "",
        "broker": "aca6b452.da37f8",
        "x": 570,
        "y": 720,
        "wires": []
    },
    {
        "id": "988e876b.799618",
        "type": "ui_slider",
        "z": "b40fffe1.8cc7c",
        "name": "Temperature Sensor Simulation Slider",
        "label": "Temperature",
        "tooltip": "",
        "group": "6d29a6eb.949898",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "15",
        "max": "40",
        "step": 1,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "94f4771a.278db8"
            ]
        ]
    },
    {
        "id": "d7cfefb7.9263c",
        "type": "ui_template",
        "z": "b40fffe1.8cc7c",
        "group": "d2e919a.36995e8",
        "name": "motion_detected",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n  <p>Motion detected</p>\n  <font color=\"{{(msg.payload === 'true') ? 'green' : 'red'}}\">\n    {{msg.payload}}\n  </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 380,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f3b32b79.f11538",
        "type": "ui_template",
        "z": "b40fffe1.8cc7c",
        "group": "fc280b38.61f088",
        "name": "motion_detected",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n  <p>Motion detected</p>\n  <font color=\"{{(msg.payload === 'true') ? 'green' : 'red'}}\">\n    {{msg.payload}}\n  </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 380,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "83e6bd4f.b0f04",
        "type": "comment",
        "z": "b40fffe1.8cc7c",
        "name": "Raum 125",
        "info": "",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "dff59347.5cbe9",
        "type": "comment",
        "z": "b40fffe1.8cc7c",
        "name": "Raum 121",
        "info": "",
        "x": 120,
        "y": 620,
        "wires": []
    },
    {
        "id": "318faa9f.098576",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "Connected Clients",
        "topic": "$SYS/broker/clients/connected",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "3f2cecee.66ba84"
            ]
        ]
    },
    {
        "id": "7871912c.9f4df",
        "type": "comment",
        "z": "b40fffe1.8cc7c",
        "name": "Broker Status",
        "info": "",
        "x": 130,
        "y": 1200,
        "wires": []
    },
    {
        "id": "3f2cecee.66ba84",
        "type": "ui_text",
        "z": "b40fffe1.8cc7c",
        "group": "3b9bcb95.feb744",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Connected Clients",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 1240,
        "wires": []
    },
    {
        "id": "9e4177b2.9a1228",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "Disconnected Clients",
        "topic": "$SYS/broker/clients/disconnected",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 160,
        "y": 1300,
        "wires": [
            [
                "d601ccef.020c7"
            ]
        ]
    },
    {
        "id": "d601ccef.020c7",
        "type": "ui_text",
        "z": "b40fffe1.8cc7c",
        "group": "3b9bcb95.feb744",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Disconnected Clients",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 400,
        "y": 1300,
        "wires": []
    },
    {
        "id": "7ea49a6e.4965a4",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "Subscriptions",
        "topic": "$SYS/broker/subscriptions/count",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 130,
        "y": 1420,
        "wires": [
            [
                "ac06e009.9bbea"
            ]
        ]
    },
    {
        "id": "ac06e009.9bbea",
        "type": "ui_text",
        "z": "b40fffe1.8cc7c",
        "group": "3b9bcb95.feb744",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Subscriptions",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 380,
        "y": 1420,
        "wires": []
    },
    {
        "id": "7c46af5e.4d31d",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "Uptime",
        "topic": "$SYS/broker/uptime",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "a3d636e7.884cd8"
            ]
        ]
    },
    {
        "id": "a3d636e7.884cd8",
        "type": "ui_text",
        "z": "b40fffe1.8cc7c",
        "group": "3b9bcb95.feb744",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 360,
        "y": 1480,
        "wires": []
    },
    {
        "id": "365f8bd4.689b84",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "Maximum Clients",
        "topic": "$SYS/broker/clients/maximum",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 140,
        "y": 1360,
        "wires": [
            [
                "6f2d15f5.da96fc"
            ]
        ]
    },
    {
        "id": "6f2d15f5.da96fc",
        "type": "ui_text",
        "z": "b40fffe1.8cc7c",
        "group": "3b9bcb95.feb744",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Maximum Clients",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 1360,
        "wires": []
    },
    {
        "id": "c12aeab.b425a18",
        "type": "inject",
        "z": "b40fffe1.8cc7c",
        "name": "",
        "topic": "",
        "payload": "125",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 290,
        "y": 20,
        "wires": [
            [
                "923851e2.7d7df"
            ]
        ]
    },
    {
        "id": "923851e2.7d7df",
        "type": "ui_text",
        "z": "b40fffe1.8cc7c",
        "group": "6d29a6eb.949898",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "125",
        "label": "Raum",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 530,
        "y": 20,
        "wires": []
    },
    {
        "id": "1853230d.dad3bd",
        "type": "inject",
        "z": "b40fffe1.8cc7c",
        "name": "",
        "topic": "",
        "payload": "121",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 290,
        "y": 620,
        "wires": [
            [
                "d03dacb4.dcf92"
            ]
        ]
    },
    {
        "id": "d03dacb4.dcf92",
        "type": "ui_text",
        "z": "b40fffe1.8cc7c",
        "group": "6d29a6eb.949898",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "121",
        "label": "Raum",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "b438b8f8.f86dc8",
        "type": "mqtt out",
        "z": "b40fffe1.8cc7c",
        "name": "humidity_sim",
        "topic": "hhz/121/m5stick1/humidity",
        "qos": "",
        "retain": "",
        "broker": "aca6b452.da37f8",
        "x": 550,
        "y": 780,
        "wires": []
    },
    {
        "id": "bcfb21b2.3f148",
        "type": "ui_slider",
        "z": "b40fffe1.8cc7c",
        "name": "Humidity Sensor Simulation Slider",
        "label": "Humidity",
        "tooltip": "",
        "group": "6d29a6eb.949898",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "0",
        "max": "100",
        "step": 1,
        "x": 200,
        "y": 780,
        "wires": [
            [
                "b438b8f8.f86dc8"
            ]
        ]
    },
    {
        "id": "2ce42c49.227e64",
        "type": "ui_slider",
        "z": "b40fffe1.8cc7c",
        "name": "Humidity Sensor Simulation Slider",
        "label": "Humidity",
        "tooltip": "",
        "group": "6d29a6eb.949898",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "0",
        "max": "1100",
        "step": 1,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "41db49a4.463d68"
            ]
        ]
    },
    {
        "id": "41db49a4.463d68",
        "type": "mqtt out",
        "z": "b40fffe1.8cc7c",
        "name": "humidity_sim",
        "topic": "hhz/125/m5stick1/humidity",
        "qos": "",
        "retain": "",
        "broker": "aca6b452.da37f8",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "4eaf1e47.d1eb2",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "pressure",
        "topic": "hhz/125/m5stick1/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "55ef68c5.2c2568"
            ]
        ]
    },
    {
        "id": "d633a1b2.b9b05",
        "type": "mqtt in",
        "z": "b40fffe1.8cc7c",
        "name": "pressure",
        "topic": "hhz/121/m5stick1/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "aca6b452.da37f8",
        "x": 120,
        "y": 1140,
        "wires": [
            [
                "e19dd8f2.20b918"
            ]
        ]
    },
    {
        "id": "e19dd8f2.20b918",
        "type": "ui_text",
        "z": "b40fffe1.8cc7c",
        "group": "fc280b38.61f088",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "g_press1",
        "label": "Barometric Pressure",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "x": 580,
        "y": 1140,
        "wires": []
    },
    {
        "id": "55ef68c5.2c2568",
        "type": "ui_text",
        "z": "b40fffe1.8cc7c",
        "group": "d2e919a.36995e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "g_press1",
        "label": "Barometric Pressure",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "ef2fe0b6.cae57",
        "type": "ui_gauge",
        "z": "b40fffe1.8cc7c",
        "name": "g_humid1",
        "group": "fc280b38.61f088",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00df00",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 580,
        "y": 960,
        "wires": []
    },
    {
        "id": "aca6b452.da37f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "hhzpi-broker",
        "broker": "10.0.103.50",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6d29a6eb.949898",
        "type": "ui_group",
        "z": "",
        "name": "Simulation",
        "tab": "68ed615f.5496e",
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "d2e919a.36995e8",
        "type": "ui_group",
        "z": "",
        "name": "Raum 125",
        "tab": "68ed615f.5496e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "fc280b38.61f088",
        "type": "ui_group",
        "z": "",
        "name": "Raum 121",
        "tab": "68ed615f.5496e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "3b9bcb95.feb744",
        "type": "ui_group",
        "z": "",
        "name": "Broker Status",
        "tab": "68ed615f.5496e",
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "68ed615f.5496e",
        "type": "ui_tab",
        "z": "",
        "name": "Digital HHZ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
