hue.json
[{"id":"3e8cc558.526caa","type":"tab","label":"Hue","disabled":false,"info":""},{"id":"d3143a6.488a3c8","type":"hue-light","z":"3e8cc558.526caa","name":"Lampe","bridge":"d5ffc557.a088d8","lightid":"1","colornamer":true,"x":530,"y":180,"wires":[[]]},{"id":"1cb2589c.f76957","type":"ui_switch","z":"3e8cc558.526caa","name":"","label":"Licht","tooltip":"","group":"15eab7b4.49b448","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":140,"wires":[["d3143a6.488a3c8"]]},{"id":"c49ca549.a75e88","type":"function","z":"3e8cc558.526caa","name":" Farbe Licht","func":"return { payload: { hex: msg.payload}};","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["d3143a6.488a3c8"]]},{"id":"4b0fbae3.4b0f54","type":"ui_colour_picker","z":"3e8cc558.526caa","name":"","label":"","group":"15eab7b4.49b448","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":2,"width":0,"height":0,"passthru":true,"topic":"","x":120,"y":320,"wires":[["c49ca549.a75e88"]]},{"id":"59b0157a.072b2c","type":"ui_slider","z":"3e8cc558.526caa","name":"","label":"Brightness","tooltip":"","group":"15eab7b4.49b448","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":110,"y":200,"wires":[["6fecaec8.c019a"]]},{"id":"6fecaec8.c019a","type":"function","z":"3e8cc558.526caa","name":"Brightness Object","func":"return { payload: { brightness: msg.payload}}","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["d3143a6.488a3c8"]]},{"id":"8880a6ca.213b08","type":"mqtt in","z":"3e8cc558.526caa","name":"","topic":"sensor/in","qos":"2","datatype":"auto","broker":"da563dc5.101fa","x":100,"y":80,"wires":[["2fc97003.9eaa4"]]},{"id":"8f2eac21.b6679","type":"debug","z":"3e8cc558.526caa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":60,"wires":[]},{"id":"2fc97003.9eaa4","type":"change","z":"3e8cc558.526caa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["d3143a6.488a3c8","8f2eac21.b6679"]]},{"id":"d5ffc557.a088d8","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.2.108","key":"vss-gtCnY2044r-NVl9M3FNsZBFJyy3tbK3zuw4k","interval":"3000"},{"id":"15eab7b4.49b448","type":"ui_group","z":"","name":"Schlafzimmer ","tab":"12df1e9d.c71ae1","disp":true,"width":"6","collapse":false},{"id":"da563dc5.101fa","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"12df1e9d.c71ae1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]