mosquitto.json
[{"id":"fe5f5afd.742358","type":"tab","label":"Mosquitto","disabled":false,"info":""},{"id":"ff00da31.007708","type":"mosca in","z":"fe5f5afd.742358","mqtt_port":"1884","mqtt_ws_port":8080,"name":"","username":"emre.kocyigit66@googlemail.com","password":"e20d31f5","dburl":"","x":210,"y":160,"wires":[[]]},{"id":"d7702462.ca1bc8","type":"mqtt out","z":"fe5f5afd.742358","name":"","topic":"sensor/out","qos":"","retain":"","broker":"da563dc5.101fa","x":530,"y":300,"wires":[]},{"id":"e3a3d0e4.8f11","type":"inject","z":"fe5f5afd.742358","name":"","topic":"sensor","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":300,"wires":[["d7702462.ca1bc8"]]},{"id":"227c43e1.22557c","type":"mqtt in","z":"fe5f5afd.742358","name":"","topic":"sensor/in","qos":"2","datatype":"auto","broker":"488181d5.b7338","x":250,"y":220,"wires":[[]]},{"id":"da563dc5.101fa","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"488181d5.b7338","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]