tasmota.json
[{"id":"1d7bfd9a.f25c32","type":"tab","label":"Tasmota","disabled":false,"info":""},{"id":"bc34d423.765b18","type":"debug","z":"1d7bfd9a.f25c32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":200,"wires":[]},{"id":"ab8b62a1.59a28","type":"Sonoff device","z":"1d7bfd9a.f25c32","mode":"0","broker":"da563dc5.101fa","device":"sensor","name":"","onValue":"ON","offValue":"OFF","cmdPrefix":"cmnd","statPrefix":"stat","telePrefix":"tele","x":370,"y":200,"wires":[["bc34d423.765b18","9f1919e6.117878"]]},{"id":"1ec25134.4471bf","type":"inject","z":"1d7bfd9a.f25c32","name":"","topic":"tasmota","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["ab8b62a1.59a28"]]},{"id":"fa17065.39252f8","type":"inject","z":"1d7bfd9a.f25c32","name":"","topic":"tasmota","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["ab8b62a1.59a28"]]},{"id":"9f1919e6.117878","type":"ui_switch","z":"1d7bfd9a.f25c32","name":"","label":"switch","tooltip":"","group":"15eab7b4.49b448","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"tasmota","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":100,"wires":[["ab8b62a1.59a28"]]},{"id":"da563dc5.101fa","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"15eab7b4.49b448","type":"ui_group","z":"","name":"Schlafzimmer ","tab":"12df1e9d.c71ae1","disp":true,"width":"6","collapse":false},{"id":"12df1e9d.c71ae1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]