nodered/dashboard/dashboard.json
[
    {
        "id": "e768184c.1cbfd8",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7c45420e.837fbc",
        "type": "tab",
        "label": "DynDashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "343000cd.bdc1f",
        "type": "tab",
        "label": "Simulation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7feb0fde.c607b",
        "type": "mqtt-broker",
        "z": "",
        "name": "hhzpi-broker",
        "broker": "10.0.103.50",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a627ae6a.da023",
        "type": "ui_tab",
        "z": "",
        "name": "Digital HHZ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2de00be9.2bad14",
        "type": "ui_group",
        "z": "",
        "name": "Room 125",
        "tab": "a627ae6a.da023",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "7831a9e8.746168",
        "type": "ui_base",
        "z": "",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0080ff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#ffff00",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "HHZ",
                "default": "#4B7930",
                "baseColor": "#bc8f00",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#bc8f00",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#d2d2d2",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#ebebeb",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ebebeb",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#ffc409",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#bc8f00",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "HHZ Digital 2.0",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "17d7cc84.f4b123",
        "type": "ui_group",
        "z": "",
        "name": "Room 121",
        "tab": "a627ae6a.da023",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "b2cac3ba.a6579",
        "type": "ui_group",
        "z": "",
        "name": "121",
        "tab": "b772a92b.63f168",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "6892f756.8131d8",
        "type": "ui_group",
        "z": "",
        "name": "125",
        "tab": "4fd2e4b0.897dbc",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "4fd2e4b0.897dbc",
        "type": "ui_tab",
        "z": "",
        "name": "Dynamic Message Routing",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "b772a92b.63f168",
        "type": "ui_tab",
        "z": "",
        "name": "Simulation",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "824f5ea2.78f78",
        "type": "ui_group",
        "z": "",
        "name": "121",
        "tab": "4fd2e4b0.897dbc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "6c3d9b3f.2e29c4",
        "type": "ui_group",
        "z": "",
        "name": "125",
        "tab": "b772a92b.63f168",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "76e1a453.c8380c",
        "type": "homie-convention-broker-config",
        "z": "",
        "mqtt-host": "10.0.103.50",
        "mqtt-port": "1883",
        "tls": "f2d4ab5c.b5dbf8",
        "usetls": false,
        "name": "hhzbroker",
        "homieName": "HomieDevice1",
        "homieFriendlyName": "Homie1",
        "homieRoot": "hhz",
        "storeGlobal": false
    },
    {
        "id": "f2d4ab5c.b5dbf8",
        "type": "tls-config",
        "z": "",
        "name": "Localhost ca.crt",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "ca.crt",
        "servername": "ah-berlin-0148",
        "verifyservercert": false
    },
    {
        "id": "da3cbbf2.10adb8",
        "type": "ui_group",
        "z": "",
        "name": "HomieDashboard",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "78a9276f.2a0a48",
        "type": "Device Schema",
        "z": 0,
        "deviceType": "M5Stick-C",
        "props": [],
        "evts": []
    },
    {
        "id": "25e33c32.6d3864",
        "type": "mqtt in",
        "z": "e768184c.1cbfd8",
        "name": "motion",
        "topic": "hhz/125/m5stick2/motion",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "f22b4a4e.42d278"
            ]
        ]
    },
    {
        "id": "d7294097.b4339",
        "type": "mqtt in",
        "z": "e768184c.1cbfd8",
        "name": "temperature",
        "topic": "hhz/125/m5stick1/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "447ec7d2.20b9e8"
            ]
        ]
    },
    {
        "id": "977f1df1.eab4d",
        "type": "mqtt in",
        "z": "e768184c.1cbfd8",
        "name": "humidity",
        "topic": "hhz/125/m5stick1/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "13cb4758.28d059"
            ]
        ]
    },
    {
        "id": "fc6ff378.76ac3",
        "type": "mqtt in",
        "z": "e768184c.1cbfd8",
        "name": "airquality",
        "topic": "hhz/125/m5stick1/airquality",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "bf074ab8.d5ad28"
            ]
        ]
    },
    {
        "id": "e41f7d1e.3b2cc",
        "type": "mqtt in",
        "z": "e768184c.1cbfd8",
        "name": "luminosity",
        "topic": "hhz/125/m5stick1/luminosity",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "7521c3f.3dea93c"
            ]
        ]
    },
    {
        "id": "7521c3f.3dea93c",
        "type": "ui_gauge",
        "z": "e768184c.1cbfd8",
        "name": "g_bright1",
        "group": "2de00be9.2bad14",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Luminosity",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "bf074ab8.d5ad28",
        "type": "ui_gauge",
        "z": "e768184c.1cbfd8",
        "name": "g_air1",
        "group": "2de00be9.2bad14",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Quality",
        "label": "ppm",
        "format": "{{value}}",
        "min": "450",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "1500",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "13cb4758.28d059",
        "type": "ui_gauge",
        "z": "e768184c.1cbfd8",
        "name": "g_humid1",
        "group": "2de00be9.2bad14",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00df00",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "447ec7d2.20b9e8",
        "type": "ui_gauge",
        "z": "e768184c.1cbfd8",
        "name": "g_temp1",
        "group": "2de00be9.2bad14",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "째C",
        "format": "{{value}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "47388937.29c218",
        "type": "mqtt in",
        "z": "e768184c.1cbfd8",
        "name": "motion",
        "topic": "hhz/121/m5stick2/motion",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "e2735507.e58c08"
            ]
        ]
    },
    {
        "id": "ececa1db.1b5a",
        "type": "mqtt in",
        "z": "e768184c.1cbfd8",
        "name": "temperature",
        "topic": "hhz/121/m5stick1/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "d2a4d17f.43aa6"
            ]
        ]
    },
    {
        "id": "5f145d20.2eebd4",
        "type": "mqtt in",
        "z": "e768184c.1cbfd8",
        "name": "humidity",
        "topic": "hhz/121/m5stick1/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "f8bacb1c.1bf588"
            ]
        ]
    },
    {
        "id": "b0b48606.e791c8",
        "type": "mqtt in",
        "z": "e768184c.1cbfd8",
        "name": "airquality",
        "topic": "hhz/121/m5stick1/airquality",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "99d55149.461ca"
            ]
        ]
    },
    {
        "id": "c940264d.f7d528",
        "type": "mqtt in",
        "z": "e768184c.1cbfd8",
        "name": "luminosity",
        "topic": "hhz/121/m5stick1/luminosity",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "f4fa911a.2720a"
            ]
        ]
    },
    {
        "id": "f4fa911a.2720a",
        "type": "ui_gauge",
        "z": "e768184c.1cbfd8",
        "name": "g_bright1",
        "group": "17d7cc84.f4b123",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Luminosity",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 760,
        "wires": []
    },
    {
        "id": "99d55149.461ca",
        "type": "ui_gauge",
        "z": "e768184c.1cbfd8",
        "name": "g_air1",
        "group": "17d7cc84.f4b123",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Quality",
        "label": "ppm",
        "format": "{{value}}",
        "min": "450",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "1500",
        "x": 570,
        "y": 700,
        "wires": []
    },
    {
        "id": "d2a4d17f.43aa6",
        "type": "ui_gauge",
        "z": "e768184c.1cbfd8",
        "name": "g_temp1",
        "group": "17d7cc84.f4b123",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "째C",
        "format": "{{value}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "f22b4a4e.42d278",
        "type": "ui_template",
        "z": "e768184c.1cbfd8",
        "group": "2de00be9.2bad14",
        "name": "motion_detected",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n  <p>Motion detected</p>\n  <font color=\"{{(msg.payload === 'true') ? 'green' : 'red'}}\">\n    {{msg.payload}}\n  </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 600,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e2735507.e58c08",
        "type": "ui_template",
        "z": "e768184c.1cbfd8",
        "group": "17d7cc84.f4b123",
        "name": "motion_detected",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n  <p>Motion detected</p>\n  <font color=\"{{(msg.payload === 'true') ? 'green' : 'red'}}\">\n    {{msg.payload}}\n  </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 600,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "e8542bf0.302528",
        "type": "comment",
        "z": "e768184c.1cbfd8",
        "name": "Raum 125",
        "info": "",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "1b4c8a23.bc9766",
        "type": "comment",
        "z": "e768184c.1cbfd8",
        "name": "Raum 121",
        "info": "",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "733e762c.f5f438",
        "type": "mqtt in",
        "z": "e768184c.1cbfd8",
        "name": "pressure",
        "topic": "hhz/125/m5stick1/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "4c3ff8a0.adc6c8"
            ]
        ]
    },
    {
        "id": "394daaf4.8bb066",
        "type": "mqtt in",
        "z": "e768184c.1cbfd8",
        "name": "pressure",
        "topic": "hhz/121/m5stick1/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "3a8f50e2.bec2c"
            ]
        ]
    },
    {
        "id": "3a8f50e2.bec2c",
        "type": "ui_text",
        "z": "e768184c.1cbfd8",
        "group": "17d7cc84.f4b123",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "g_press1",
        "label": "Barometric Pressure",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "x": 580,
        "y": 820,
        "wires": []
    },
    {
        "id": "4c3ff8a0.adc6c8",
        "type": "ui_text",
        "z": "e768184c.1cbfd8",
        "group": "2de00be9.2bad14",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "g_press1",
        "label": "Barometric Pressure",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "f8bacb1c.1bf588",
        "type": "ui_gauge",
        "z": "e768184c.1cbfd8",
        "name": "g_humid1",
        "group": "17d7cc84.f4b123",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00df00",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 580,
        "y": 640,
        "wires": []
    },
    {
        "id": "b1c5140a.cf36c8",
        "type": "mqtt in",
        "z": "7c45420e.837fbc",
        "name": "",
        "topic": "hhz/125/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "4a84cd17.750a74",
                "69c75f40.f14e6"
            ]
        ]
    },
    {
        "id": "4a84cd17.750a74",
        "type": "switch",
        "z": "7c45420e.837fbc",
        "name": "topic routing",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "pressure",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "motion",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "hostname",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "airquality",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "luminosity",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "8d3354ba.8de448",
                "94ed414d.20d06"
            ],
            [
                "1f3909b1.feaeb6",
                "c5bdd6f9.f6cad8"
            ],
            [
                "2d8e8f7f.dba85",
                "6992d472.1b43dc"
            ],
            [
                "96bec075.8c6b2",
                "12e661dc.812e6e"
            ],
            [],
            [],
            [
                "a6a62fb2.ece2c",
                "fa2d090a.383e78"
            ],
            [
                "d9922cd6.c77a3",
                "e445a990.10f5b8"
            ]
        ]
    },
    {
        "id": "8d3354ba.8de448",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "Temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "1f3909b1.feaeb6",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "Humidity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "2d8e8f7f.dba85",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "Pressure",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "94ed414d.20d06",
        "type": "ui_gauge",
        "z": "7c45420e.837fbc",
        "name": "g_temp",
        "group": "6892f756.8131d8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "째C",
        "format": "{{value}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 80,
        "wires": []
    },
    {
        "id": "c5bdd6f9.f6cad8",
        "type": "ui_gauge",
        "z": "7c45420e.837fbc",
        "name": "g_humid",
        "group": "6892f756.8131d8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00df00",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "6992d472.1b43dc",
        "type": "ui_text",
        "z": "7c45420e.837fbc",
        "group": "6892f756.8131d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "g_press",
        "label": "Barometric Pressure",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "96bec075.8c6b2",
        "type": "ui_template",
        "z": "7c45420e.837fbc",
        "group": "6892f756.8131d8",
        "name": "g_motion",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n  <p>Motion</p>\n  <font color=\"{{(msg.payload === 'true') ? 'green' : 'red'}}\">\n    {{msg.payload}}\n  </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 560,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "12e661dc.812e6e",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "Motion",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 280,
        "wires": []
    },
    {
        "id": "69c75f40.f14e6",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 180,
        "y": 260,
        "wires": []
    },
    {
        "id": "86558055.ee35d",
        "type": "switch",
        "z": "7c45420e.837fbc",
        "name": "topic routing",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "pressure",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "motion",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "status",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "hostname",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "airquality",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "luminosity",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 290,
        "y": 580,
        "wires": [
            [
                "512672cd.5b49fc",
                "59d87174.41731"
            ],
            [
                "235567e9.2aa848",
                "cd9692d.765357"
            ],
            [
                "c340c362.a49e2",
                "ed065b70.21ccf8"
            ],
            [
                "faab5436.ed8218",
                "53757a8a.5d86c4"
            ],
            [],
            [],
            [
                "8d6f67bc.e41e88",
                "39afe183.a6932e"
            ],
            [
                "c0fbeb65.827ec8",
                "ff350897.ec74c8"
            ]
        ]
    },
    {
        "id": "512672cd.5b49fc",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "Temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 570,
        "y": 520,
        "wires": []
    },
    {
        "id": "235567e9.2aa848",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "Humidity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "c340c362.a49e2",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "Pressure",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 680,
        "wires": []
    },
    {
        "id": "59d87174.41731",
        "type": "ui_gauge",
        "z": "7c45420e.837fbc",
        "name": "g_temp",
        "group": "824f5ea2.78f78",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "째C",
        "format": "{{value}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "cd9692d.765357",
        "type": "ui_gauge",
        "z": "7c45420e.837fbc",
        "name": "g_humid",
        "group": "824f5ea2.78f78",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00df00",
            "#0000ff"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 560,
        "y": 640,
        "wires": []
    },
    {
        "id": "ed065b70.21ccf8",
        "type": "ui_text",
        "z": "7c45420e.837fbc",
        "group": "824f5ea2.78f78",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "g_press",
        "label": "Barometric Pressure",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "x": 560,
        "y": 720,
        "wires": []
    },
    {
        "id": "faab5436.ed8218",
        "type": "ui_template",
        "z": "7c45420e.837fbc",
        "group": "824f5ea2.78f78",
        "name": "g_motion",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n  <p>Motion</p>\n  <font color=\"{{(msg.payload === 'true') ? 'green' : 'red'}}\">\n    {{msg.payload}}\n  </font>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 560,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "53757a8a.5d86c4",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "Motion",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 760,
        "wires": []
    },
    {
        "id": "818b9a25.cd5fd8",
        "type": "mqtt in",
        "z": "7c45420e.837fbc",
        "name": "",
        "topic": "hhz/121/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "7feb0fde.c607b",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "86558055.ee35d"
            ]
        ]
    },
    {
        "id": "161d0857.a4ed48",
        "type": "mqtt out",
        "z": "343000cd.bdc1f",
        "name": "motion_sim",
        "topic": "hhz/125/m5stick2/motion",
        "qos": "",
        "retain": "",
        "broker": "7feb0fde.c607b",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "d276aaee.8af3c8",
        "type": "ui_switch",
        "z": "343000cd.bdc1f",
        "name": "motion_sensor_switch",
        "label": "Motion Sensor Simulation",
        "tooltip": "",
        "group": "6c3d9b3f.2e29c4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "161d0857.a4ed48"
            ]
        ]
    },
    {
        "id": "d93cb94.e282848",
        "type": "mqtt out",
        "z": "343000cd.bdc1f",
        "name": "temperature_sim",
        "topic": "hhz/125/m5stick1/temperature",
        "qos": "",
        "retain": "",
        "broker": "7feb0fde.c607b",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "a2f7eafa.82d0f8",
        "type": "ui_slider",
        "z": "343000cd.bdc1f",
        "name": "Temperature Sensor Simulation Slider",
        "label": "Temperature",
        "tooltip": "",
        "group": "6c3d9b3f.2e29c4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "15",
        "max": "40",
        "step": 1,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "d93cb94.e282848"
            ]
        ]
    },
    {
        "id": "bd045825.035948",
        "type": "comment",
        "z": "343000cd.bdc1f",
        "name": "Raum 125",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "463e7eb4.5548f",
        "type": "inject",
        "z": "343000cd.bdc1f",
        "name": "",
        "topic": "",
        "payload": "125",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "54ff7f60.3549"
            ]
        ]
    },
    {
        "id": "54ff7f60.3549",
        "type": "ui_text",
        "z": "343000cd.bdc1f",
        "group": "6c3d9b3f.2e29c4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "125",
        "label": "Room",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "616e26e7.fceec8",
        "type": "ui_slider",
        "z": "343000cd.bdc1f",
        "name": "Humidity Sensor Simulation Slider",
        "label": "Humidity",
        "tooltip": "",
        "group": "6c3d9b3f.2e29c4",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "0",
        "max": "100",
        "step": 1,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "f7755785.d0b478"
            ]
        ]
    },
    {
        "id": "f7755785.d0b478",
        "type": "mqtt out",
        "z": "343000cd.bdc1f",
        "name": "humidity_sim",
        "topic": "hhz/125/m5stick1/humidity",
        "qos": "",
        "retain": "",
        "broker": "7feb0fde.c607b",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "70144be2.210804",
        "type": "comment",
        "z": "343000cd.bdc1f",
        "name": "Raum 121",
        "info": "",
        "x": 120,
        "y": 640,
        "wires": []
    },
    {
        "id": "ce803173.18a07",
        "type": "inject",
        "z": "343000cd.bdc1f",
        "name": "",
        "topic": "",
        "payload": "121",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 290,
        "y": 640,
        "wires": [
            [
                "39d1470f.50f478"
            ]
        ]
    },
    {
        "id": "39d1470f.50f478",
        "type": "ui_text",
        "z": "343000cd.bdc1f",
        "group": "b2cac3ba.a6579",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "121",
        "label": "Room",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "8fdbbc09.bd38b",
        "type": "ui_numeric",
        "z": "343000cd.bdc1f",
        "name": "Barometric Sensor Simulation",
        "label": "Barometric Pressure",
        "tooltip": "",
        "group": "6c3d9b3f.2e29c4",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": "860",
        "max": "1060",
        "step": 1,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "bc8555fb.cd0ff8"
            ]
        ]
    },
    {
        "id": "bc8555fb.cd0ff8",
        "type": "mqtt out",
        "z": "343000cd.bdc1f",
        "name": "pressure_sim",
        "topic": "hhz/125/m5stick1/pressure",
        "qos": "",
        "retain": "",
        "broker": "7feb0fde.c607b",
        "x": 720,
        "y": 360,
        "wires": []
    },
    {
        "id": "a7605513.270538",
        "type": "inject",
        "z": "343000cd.bdc1f",
        "name": "TimerInject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "fc830628.167df8",
                "8e642c60.4cfef",
                "416bccd4.079224",
                "6f72186e.34e3a8",
                "1900aaa3.0f3de5",
                "b7cc1292.9d1fb"
            ]
        ]
    },
    {
        "id": "fc830628.167df8",
        "type": "function",
        "z": "343000cd.bdc1f",
        "name": "Random Temperatur Generator",
        "func": "rnd=Math.round(Math.random()*(40-15)+15);\nmsg.payload=rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "d93cb94.e282848"
            ]
        ]
    },
    {
        "id": "8e642c60.4cfef",
        "type": "function",
        "z": "343000cd.bdc1f",
        "name": "Random Percentage Generator",
        "func": "rnd=Math.round(Math.random()*(100));\nmsg.payload=rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "f7755785.d0b478"
            ]
        ]
    },
    {
        "id": "416bccd4.079224",
        "type": "function",
        "z": "343000cd.bdc1f",
        "name": "Random Pressure Generator",
        "func": "rnd=Math.round(Math.random()*(1060-860)+860);\nmsg.payload=rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "bc8555fb.cd0ff8"
            ]
        ]
    },
    {
        "id": "6f72186e.34e3a8",
        "type": "function",
        "z": "343000cd.bdc1f",
        "name": "Random Boolean Generator",
        "func": "rnd=Math.random() < 0.5;\nmsg.payload=rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "161d0857.a4ed48"
            ]
        ]
    },
    {
        "id": "92c27c8b.57697",
        "type": "mqtt out",
        "z": "343000cd.bdc1f",
        "name": "airquality_sim",
        "topic": "hhz/125/m5stick1/airquality",
        "qos": "",
        "retain": "",
        "broker": "7feb0fde.c607b",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "528726fe.bfedd8",
        "type": "mqtt out",
        "z": "343000cd.bdc1f",
        "name": "luminosity_sim",
        "topic": "hhz/125/m5stick1/luminosity",
        "qos": "",
        "retain": "",
        "broker": "7feb0fde.c607b",
        "x": 720,
        "y": 520,
        "wires": []
    },
    {
        "id": "1900aaa3.0f3de5",
        "type": "function",
        "z": "343000cd.bdc1f",
        "name": "Random Luminosity Generator",
        "func": "rnd=Math.round(Math.random()*65535);\nmsg.payload=rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "528726fe.bfedd8"
            ]
        ]
    },
    {
        "id": "b7cc1292.9d1fb",
        "type": "function",
        "z": "343000cd.bdc1f",
        "name": "Random Airquality Generator",
        "func": "rnd=Math.round(Math.random()*(2000-450)+450);\nmsg.payload=rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 460,
        "wires": [
            [
                "92c27c8b.57697"
            ]
        ]
    },
    {
        "id": "48e05038.3c0fb",
        "type": "ui_slider",
        "z": "343000cd.bdc1f",
        "name": "Air Quality Simulation Slider",
        "label": "Air Quality",
        "tooltip": "",
        "group": "6c3d9b3f.2e29c4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "450",
        "max": "2000",
        "step": "10",
        "x": 340,
        "y": 420,
        "wires": [
            [
                "92c27c8b.57697"
            ]
        ]
    },
    {
        "id": "c7b8d819.efc578",
        "type": "ui_numeric",
        "z": "343000cd.bdc1f",
        "name": "Luminosity Sensor Simulation",
        "label": "Luminosity",
        "tooltip": "",
        "group": "6c3d9b3f.2e29c4",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": "0",
        "max": "65535",
        "step": 1,
        "x": 350,
        "y": 500,
        "wires": [
            [
                "528726fe.bfedd8"
            ]
        ]
    },
    {
        "id": "2ec8bde5.7a5fe2",
        "type": "mqtt out",
        "z": "343000cd.bdc1f",
        "name": "motion_sim",
        "topic": "hhz/121/m5stick2/motion",
        "qos": "",
        "retain": "",
        "broker": "7feb0fde.c607b",
        "x": 710,
        "y": 720,
        "wires": []
    },
    {
        "id": "2e7f8f1d.3aee6",
        "type": "ui_switch",
        "z": "343000cd.bdc1f",
        "name": "motion_sensor_switch",
        "label": "Motion Sensor Simulation",
        "tooltip": "",
        "group": "b2cac3ba.a6579",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 320,
        "y": 700,
        "wires": [
            [
                "2ec8bde5.7a5fe2"
            ]
        ]
    },
    {
        "id": "e8e34bd0.c00fa8",
        "type": "mqtt out",
        "z": "343000cd.bdc1f",
        "name": "temperature_sim",
        "topic": "hhz/121/m5stick1/temperature",
        "qos": "",
        "retain": "",
        "broker": "7feb0fde.c607b",
        "x": 730,
        "y": 800,
        "wires": []
    },
    {
        "id": "71972f6e.a57a7",
        "type": "ui_slider",
        "z": "343000cd.bdc1f",
        "name": "Temperature Sensor Simulation Slider",
        "label": "Temperature",
        "tooltip": "",
        "group": "b2cac3ba.a6579",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "15",
        "max": "40",
        "step": 1,
        "x": 370,
        "y": 780,
        "wires": [
            [
                "e8e34bd0.c00fa8"
            ]
        ]
    },
    {
        "id": "ad5f3a68.a8c5a8",
        "type": "ui_slider",
        "z": "343000cd.bdc1f",
        "name": "Humidity Sensor Simulation Slider",
        "label": "Humidity",
        "tooltip": "",
        "group": "b2cac3ba.a6579",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "0",
        "max": "100",
        "step": 1,
        "x": 360,
        "y": 860,
        "wires": [
            [
                "a8a194e9.2b3da8"
            ]
        ]
    },
    {
        "id": "a8a194e9.2b3da8",
        "type": "mqtt out",
        "z": "343000cd.bdc1f",
        "name": "humidity_sim",
        "topic": "hhz/121/m5stick1/humidity",
        "qos": "",
        "retain": "",
        "broker": "7feb0fde.c607b",
        "x": 710,
        "y": 880,
        "wires": []
    },
    {
        "id": "3648b668.35ebaa",
        "type": "ui_numeric",
        "z": "343000cd.bdc1f",
        "name": "Barometric Sensor Simulation",
        "label": "Barometric Pressure",
        "tooltip": "",
        "group": "b2cac3ba.a6579",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": "860",
        "max": "1060",
        "step": 1,
        "x": 350,
        "y": 940,
        "wires": [
            [
                "19023310.bdbbbd"
            ]
        ]
    },
    {
        "id": "19023310.bdbbbd",
        "type": "mqtt out",
        "z": "343000cd.bdc1f",
        "name": "pressure_sim",
        "topic": "hhz/121/m5stick1/pressure",
        "qos": "",
        "retain": "",
        "broker": "7feb0fde.c607b",
        "x": 720,
        "y": 960,
        "wires": []
    },
    {
        "id": "69ef628d.e1f11c",
        "type": "inject",
        "z": "343000cd.bdc1f",
        "name": "TimerInject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 840,
        "wires": [
            [
                "3a841095.986ee",
                "47e87829.be5e98",
                "cac3856f.94e358",
                "72bec3ff.b8316c",
                "88eb3750.de9a18",
                "224ab557.ef020a"
            ]
        ]
    },
    {
        "id": "3a841095.986ee",
        "type": "function",
        "z": "343000cd.bdc1f",
        "name": "Random Temperatur Generator",
        "func": "rnd=Math.round(Math.random()*(40-15)+15);\nmsg.payload=rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 820,
        "wires": [
            [
                "e8e34bd0.c00fa8"
            ]
        ]
    },
    {
        "id": "47e87829.be5e98",
        "type": "function",
        "z": "343000cd.bdc1f",
        "name": "Random Percentage Generator",
        "func": "rnd=Math.round(Math.random()*(100));\nmsg.payload=rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 900,
        "wires": [
            [
                "a8a194e9.2b3da8"
            ]
        ]
    },
    {
        "id": "cac3856f.94e358",
        "type": "function",
        "z": "343000cd.bdc1f",
        "name": "Random Pressure Generator",
        "func": "rnd=Math.round(Math.random()*(1060-860)+860);\nmsg.payload=rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 980,
        "wires": [
            [
                "19023310.bdbbbd"
            ]
        ]
    },
    {
        "id": "72bec3ff.b8316c",
        "type": "function",
        "z": "343000cd.bdc1f",
        "name": "Random Boolean Generator",
        "func": "rnd=Math.random() < 0.5;\nmsg.payload=rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 740,
        "wires": [
            [
                "2ec8bde5.7a5fe2"
            ]
        ]
    },
    {
        "id": "21f18533.f74d7a",
        "type": "mqtt out",
        "z": "343000cd.bdc1f",
        "name": "airquality_sim",
        "topic": "hhz/121/m5stick1/airquality",
        "qos": "",
        "retain": "",
        "broker": "7feb0fde.c607b",
        "x": 720,
        "y": 1040,
        "wires": []
    },
    {
        "id": "12960a5.caf61f6",
        "type": "mqtt out",
        "z": "343000cd.bdc1f",
        "name": "luminosity_sim",
        "topic": "hhz/121/m5stick1/luminosity",
        "qos": "",
        "retain": "",
        "broker": "7feb0fde.c607b",
        "x": 720,
        "y": 1120,
        "wires": []
    },
    {
        "id": "88eb3750.de9a18",
        "type": "function",
        "z": "343000cd.bdc1f",
        "name": "Random Luminosity Generator",
        "func": "rnd=Math.round(Math.random()*65535);\nmsg.payload=rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1140,
        "wires": [
            [
                "12960a5.caf61f6"
            ]
        ]
    },
    {
        "id": "224ab557.ef020a",
        "type": "function",
        "z": "343000cd.bdc1f",
        "name": "Random Airquality Generator",
        "func": "rnd=Math.round(Math.random()*(2000-450)+450);\nmsg.payload=rnd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 1060,
        "wires": [
            [
                "21f18533.f74d7a"
            ]
        ]
    },
    {
        "id": "d42bb2fd.409f9",
        "type": "ui_slider",
        "z": "343000cd.bdc1f",
        "name": "Air Quality Simulation Slider",
        "label": "Air Quality",
        "tooltip": "",
        "group": "b2cac3ba.a6579",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "450",
        "max": "2000",
        "step": "10",
        "x": 340,
        "y": 1020,
        "wires": [
            [
                "21f18533.f74d7a"
            ]
        ]
    },
    {
        "id": "990662df.35368",
        "type": "ui_numeric",
        "z": "343000cd.bdc1f",
        "name": "Luminosity Sensor Simulation",
        "label": "Luminosity",
        "tooltip": "",
        "group": "b2cac3ba.a6579",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": "0",
        "max": "65535",
        "step": 1,
        "x": 350,
        "y": 1100,
        "wires": [
            [
                "12960a5.caf61f6"
            ]
        ]
    },
    {
        "id": "a6a62fb2.ece2c",
        "type": "ui_gauge",
        "z": "7c45420e.837fbc",
        "name": "g_air1",
        "group": "6892f756.8131d8",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Quality",
        "label": "ppm",
        "format": "{{value}}",
        "min": "450",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "1500",
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "d9922cd6.c77a3",
        "type": "ui_gauge",
        "z": "7c45420e.837fbc",
        "name": "g_bright1",
        "group": "6892f756.8131d8",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Luminosity",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "fa2d090a.383e78",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "Air",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "e445a990.10f5b8",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "Luminosity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "39afe183.a6932e",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "Air",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 840,
        "wires": []
    },
    {
        "id": "8d6f67bc.e41e88",
        "type": "ui_gauge",
        "z": "7c45420e.837fbc",
        "name": "g_air1",
        "group": "824f5ea2.78f78",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Air Quality",
        "label": "ppm",
        "format": "{{value}}",
        "min": "450",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "1500",
        "x": 550,
        "y": 880,
        "wires": []
    },
    {
        "id": "ff350897.ec74c8",
        "type": "debug",
        "z": "7c45420e.837fbc",
        "name": "Luminosity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 570,
        "y": 920,
        "wires": []
    },
    {
        "id": "c0fbeb65.827ec8",
        "type": "ui_gauge",
        "z": "7c45420e.837fbc",
        "name": "g_bright1",
        "group": "824f5ea2.78f78",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Luminosity",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "65535",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 960,
        "wires": []
    }
]